In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pymysql
from sqlalchemy import create_engine
import getpass  
password = getpass.getpass()

········

In [2]:
data = pd.read_csv("wh_staff_dataset.csv")

In [3]:
data.head(1)

   year            name  gender    status   salary  pay_basis  position_title
0  1997  Abedin,Huma M.  Female  Employee  27500.0  Per Annum  OFFICE MANAGER

In [4]:
data = data[["name","year","position_title", "gender", "status","pay_basis", "salary"]]

In [5]:
data.head(60)

,name,year,position_title,gender,status,pay_basis,salary
0,"Abedin,Huma M.",1997,OFFICE MANAGER,Female,Employee,Per Annum,27500.0
1,"Abrams,Lori E.",1997,"DEPUTY DIRECTOR, WHITE HOUSE GIFTS",Female,Employee,Per Annum,35000.0
2,"Alcorn,Brian A.",1997,ASSISTANT DIRECTOR FOR ADVANCE,Male,Employee,Per Annum,25000.0
3,"Allen,Jeannetta Pam",1997,STAFF ASSISTANT,Female,Employee,Per Annum,22000.0
4,"Allison,Donna Tate",1997,WHITE HOUSE TELEPHONE OPERATOR,Female,Employee,Per Annum,27624.0
5,"Alston,Mildred C.",1997,SPECIAL ASSISTANT PERSONAL CORRESPONDENCE,Female,Employee,Per Annum,47000.0
6,"Alterescu,Louis",1997,ATTORNEY - ADVISOR,Male,Detailee,Per Annum,73163.0
7,"Amador,Patricia",1997,ATTORNEY - ADVISOR,Female,Detailee,Per Annum,54629.0
8,"Amorsingh,Lucius Linus",1997,WHITE HOUSE TELEPHONE OPERATOR,Male,Employee,Per Annum,24858.0
9,"Anders,Brenda",1997,RADIO COORDINATOR,Female,Employee,Per Annum,31000.0
10,"Anderson,Lori Lynn",1997,ASSISTANT TO THE PRESS SECRETARY,Female,Employee,Per Annum,30000.0
11,"Attie,Eli G.",1997,SPECIAL ASSISTANT TO THE PRESIDENT FOR COMMUNI...,Male,Employee,Per Annum,70000.0
12,"Aversano,Gene T.",1997,RECORDS MANAGEMENT TECHNICIAN,Male,Employee,Per Annum,24082.0
13,"Bachman,Robin J.",1997,RESEARCHER,Female,Employee,Per Annum,45000.0
14,"Baer,Christine Klima",1997,SPECIAL ASSISTANT,Female,Employee,Per Annum,43442.0
15,"Baer,Donald A.",1997,ASSISTANT TO THE PRESIDENT AND DIRECTOR OF STR...,Male,Employee,Per Annum,125000.0
16,"Bailey,Yvonne G.",1997,WHITE HOUSE TELEPHONE OPERATOR,Female,Employee,Per Annum,27964.0
17,"Baker,Kyle M.",1997,SENIOR WRITER,Male,Employee,Per Annum,30000.0
18,"Balderston,Kris M.",1997,SPECIAL ASSISTANT TO THE PRESIDENT FOR CABINET...,Female,Detailee,Per Annum,108824.0
19,"Baldick,Nicholas R.",1997,EASTERN POLITICAL DIRECTOR,Male,Employee,Per Annum,60000.0
20,"Band,Douglas J.",1997,STAFF ASSISTANT,Male,Employee,Per Annum,30000.0
21,"Barclay,Barbara A.",1997,ADMINISTRATIVE ASSISTANT TO THE STAFF SECRETARY,Female,Employee,Per Annum,53598.0
22,"Barksdale,Antoinette",1997,ATTORNEY - ADVISOR,Female,Detailee,Per Annum,71011.0
23,"Barnes,Beverly L.",1997,SENIOR ADVISOR TO THE CHIEF OF STAFF,Female,Employee,Per Annum,90000.0
24,"Barry,Kathleen A.",1997,STAFF ASSISTANT,Female,Employee,Per Annum,25000.0
25,"Bass,Walker F.",1997,DEPUTY ASSOCIATE DIRECTOR,Male,Employee,Per Annum,30000.0
26,"Bates,Melinda N.",1997,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTO...,Female,Employee,Per Annum,59000.0
27,"Bean,Eileen F.",1997,WHITE HOUSE TELEPHONE OPERATOR ASSISTANT SUPER...,Female,Employee,Per Annum,41866.0
28,"Beaubaire,David S.",1997,SPECIAL ASSISTANT TO THE CABINET SECRETARY & D...,Male,Employee,Per Annum,40000.0
29,"Bedwell,Wendy Lynette",1997,RECORDS MANAGEMENT TECHNICIAN,Female,Employee,Per Annum,25897.0
30,"Belsky,David",1997,EDITORIAL ASSISTANT,Male,Employee,Per Annum,27000.0
31,"Bennett,Jacquelyn J.",1997,FINANCIAL MANAGER,Female,Employee,Per Annum,45000.0
32,"Berger,Samuel R.",1997,ASSISTANT TO THE PRESIDENT FOR NATIONAL SECURI...,Male,Employee,Per Annum,125000.0
33,"Berry,Marsha E.",1997,DEPUTY ASSISTANT TO THE PRESIDENT & DIRECTOR O...,Female,Employee,Per Annum,85000.0
34,"Beveridge,Susan",1997,SENIOR CASE WORKER,Female,Employee,Per Annum,31500.0
35,"Bianchi,Sarah Abigail",1997,ASSISTANT DIRECTOR FOR HEALTH POLICY,Female,Employee,Per Annum,40000.0
36,"Binns,Mary U.",1997,CORRESPONDENCE ANALYST,Female,Employee,Per Annum,33792.0
37,"Bird,Debra D.",1997,OFFICE MANAGER,Female,Employee,Per Annum,42164.0
38,"Blinken,Antony J.",1997,SPECIAL ASSISTANT TO THE PRESIDENT FOR STRATEG...,Male,Employee,Per Annum,100000.0
39,"Blocker,Ananias,III",1997,SPECIAL ASSISTANT TO THE PRESIDENT FOR LEGISLA...,Male,Employee,Per Annum,70000.0
40,"Blunt,Shenna C.",1997,ADMINISTRATIVE SUPPORT ASSISTANT,Female,Employee,Per Annum,22500.0
41,"Bohrer,George H.",1997,SPECIAL PROJECTS ASSISTANT FOR PRINTING,Male,Employee,Per Annum,45997.0
42,"Bowles,Erskine B.",1997,CHIEF OF STAFF TO THE PRESIDENT,Male,Employee,Per Annum,1.0
43,"Breuer,Lanny A.",1997,SPECIAL COUNSEL TO THE PRESIDENT,Male,Employee,Per Annum,107500.0
44,"Briggs,Patrick Edward Jude",1997,DEPUTY DIRECTOR OF PRESIDENTIAL INQUIRIES,Male,Employee,Per Annum,31500.0
45,"Bromberg,Emily",1997,DEPUTY ASSISTANT TO THE PRESIDENT & DEPUTY DIR...,Female,Employee,Per Annum,80000.0
46,"Brophy,Susan A.",1997,DEPUTY ASSISTANT TO THE PRESIDENT & DEPUTY DIR...,Female,Employee,Per Annum,110000.0
47,"Brown,Margueritte B.",1997,ASSISTANT FOR CORRESPONDENCE,Female,Detailee,Per Annum,83528.0
48,"Burkhardt,Daniel W.",1997,DEPUTY DIRECTOR OF CORRESPONDENCE & PRESIDENTI...,Male,Employee,Per Annum,60000.0
49,"Button,Katharine M.",1997,ASSISTANT TO THE CHIEF OF STAFF TO THE FIRST LADY,Female,Employee,Per Annum,30000.0
50,"Byrd,Kimberley J.",1997,WHITE HOUSE TELEPHONE OPERATOR,Female,Employee,Per Annum,23305.0
51,"Cameron,Rebecca A.",1997,STAFF ASSISTANT,Female,Employee,Per Annum,35000.0
52,"Campbell,Frances L.",1997,SUPERVISOR DATA ENTRY UNIT,Female,Employee,Per Annum,44719.0
53,"Canter,Virginia R.",1997,ASSOCIATE COUNSEL TO THE PRESIDENT,Female,Employee,Per Annum,92000.0
54,"Caplan,Phillip",1997,DEPUTY ASSISTANT TO PRESIDENT & DEPUTY STAFF S...,Male,Employee,Per Annum,90000.0
55,"Capps,Laura Karolina",1997,STAFF DIRECTOR FOR THE OFFICE OF SPEECHWRITING,Female,Employee,Per Annum,34000.0
56,"Caramanica,Janice",1997,ATTORNEY - ADVISOR,Female,Detailee,Per Annum,56450.0
57,"Carey,Paul R.",1997,SPECIAL ASSISTANT (SENATE LIAISON),Male,Employee,Per Annum,75000.0
58,"Carter,Cheryl M. Cole",1997,SPECIAL ASSISTANT TO THE PRESIDENT FOR PUBLIC ...,Female,Employee,Per Annum,85000.0
59,"Castleman,Helen S.",1997,SENIOR CASE WORKER,Female,Employee,Per Annum,28500.0

In [6]:
data.dtypes

name               object
year                int64
position_title     object
gender             object
status             object
pay_basis          object
salary            float64
dtype: object

In [7]:
data.shape

(10600, 7)

In [8]:
data.isna().sum()

name              3
year              0
position_title    2
gender            3
status            0
pay_basis         7
salary            5
dtype: int64

# Dealing with NaNs in gender and Salary column

In [9]:
data['gender'].value_counts(dropna=False)

Female    5595
Male      5002
NaN          3
Name: gender, dtype: int64

In [10]:
data['gender'] = data['gender'].fillna('Female')

In [11]:
data['gender'].value_counts(dropna=False)

Female    5598
Male      5002
Name: gender, dtype: int64

##### For salary

In [12]:
mean__salary = data['salary'].mean()

In [13]:
mean__salary

75185.34063237376

In [14]:
data['salary'] = data['salary'].fillna(mean__salary)

###### For pay basis

In [15]:
data['pay_basis'].value_counts(dropna=False)

Per Annum    10589
NaN              7
Per Diem         4
Name: pay_basis, dtype: int64

In [16]:
data['pay_basis'] = data['pay_basis'].fillna('Per Annum')

##### For position_title

In [17]:
len(data['position_title'].unique())

2397

In [18]:
data['position_title'].value_counts(dropna=False).head(20)

STAFF ASSISTANT                                                              623
ASSOCIATE DIRECTOR                                                           364
RECORDS MANAGEMENT ANALYST                                                   288
DEPUTY ASSOCIATE DIRECTOR                                                    220
EXECUTIVE ASSISTANT                                                          210
ASSOCIATE COUNSEL TO THE PRESIDENT                                           167
SPECIAL ASSISTANT TO THE PRESIDENT FOR LEGISLATIVE AFFAIRS                   163
SPECIAL ASSISTANT                                                            149
INFORMATION SERVICES OPERATOR                                                122
CORRESPONDENCE ANALYST                                                       102
ANALYST                                                                       99
SENIOR POLICY ADVISOR                                                         84
SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIATE COUNSEL TO THE PRESIDENT     83
PRESS ASSISTANT                                                               82
POLICY ADVISOR                                                                76
WRITER                                                                        74
ASSISTANT TO THE EXECUTIVE CLERK                                              69
ASSISTANT PRESS SECRETARY                                                     59
LEGISLATIVE ASSISTANT                                                         50
SPECIAL ASSISTANT TO THE PRESIDENT FOR PRESIDENTIAL PERSONNEL                 50
Name: position_title, dtype: int64

In [19]:
data['position_title'] = data['position_title'].fillna('STAFF ASSISTANT')

##### For name

In [20]:
data['name'].value_counts(dropna=False)

McCathran,William W.      24
Trainor,Gregory T.        24
Kalbaugh,David E.         24
Williams,Sherman A.       24
Thomas,Edwin R.,III       24
                          ..
Albright,Craig M.          1
Amin,Vishal J.             1
Andrews,Alexandra S.       1
Avery,Tyson Mcallister     1
Yanick,Brittany M.         1
Name: name, Length: 4659, dtype: int64

In [21]:
 data = data.dropna()
data.shape

(10597, 7)

In [22]:
data.isna().sum()

name              0
year              0
position_title    0
gender            0
status            0
pay_basis         0
salary            0
dtype: int64

# Categorizing each worker to Administration under which they served

In [23]:

def admin(x):
    if x <2001:
        return 'Clinton Administration'
    elif x< 2009:
        return 'Bush administration'
    elif x <2017:
        return "Obama Administration"
    else:
        return 'Trump Administration'

In [24]:
data['served_under'] = data["year"].apply(admin)

In [25]:
data = data[["name","year","served_under","position_title", "gender", "status","pay_basis", "salary"]]

In [26]:
data

,name,year,served_under,position_title,gender,status,pay_basis,salary
0,"Abedin,Huma M.",1997,Clinton Administration,OFFICE MANAGER,Female,Employee,Per Annum,27500.0
1,"Abrams,Lori E.",1997,Clinton Administration,"DEPUTY DIRECTOR, WHITE HOUSE GIFTS",Female,Employee,Per Annum,35000.0
2,"Alcorn,Brian A.",1997,Clinton Administration,ASSISTANT DIRECTOR FOR ADVANCE,Male,Employee,Per Annum,25000.0
3,"Allen,Jeannetta Pam",1997,Clinton Administration,STAFF ASSISTANT,Female,Employee,Per Annum,22000.0
4,"Allison,Donna Tate",1997,Clinton Administration,WHITE HOUSE TELEPHONE OPERATOR,Female,Employee,Per Annum,27624.0
...,...,...,...,...,...,...,...,...
10595,"Young,Stewart B.",2020,Trump Administration,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTO...,Male,Employee,Per Annum,120000.0
10596,"Zadrozny,John A.",2020,Trump Administration,DEPUTY ASSISTANT TO THE PRESIDENT AND ADVISOR ...,Male,Employee,Per Annum,158000.0
10597,"Zakaria,Hannah",2020,Trump Administration,ASSOCIATE LOGISTICS AND OPERATIONS MANAGER,Female,Employee,Per Annum,53000.0
10598,"Ziegler,Garrett M.",2020,Trump Administration,SENIOR POLICY ANALYST,Male,Employee,Per Annum,53000.0
10599,"Zimmerman,Keith E.",2020,Trump Administration,ASSOCIATE DIRECTOR,Male,Employee,Per Annum,58200.0

# Export your cleaned data to mysql

In [27]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/mid_bootcamp_project'
engine = create_engine(connection_string)

In [28]:
data.to_sql(name='whitehouse', con=engine, schema=None, if_exists= 'replace', index=False, index_label=None,
          chunksize=None, dtype=None, method=None)

10597

In [29]:
query = """SELECT * FROM whitehouse;"""
data = pd.read_sql_query(query, engine)
data

,name,year,served_under,position_title,gender,status,pay_basis,salary
0,"Abedin,Huma M.",1997,Clinton Administration,OFFICE MANAGER,Female,Employee,Per Annum,27500.0
1,"Abrams,Lori E.",1997,Clinton Administration,"DEPUTY DIRECTOR, WHITE HOUSE GIFTS",Female,Employee,Per Annum,35000.0
2,"Alcorn,Brian A.",1997,Clinton Administration,ASSISTANT DIRECTOR FOR ADVANCE,Male,Employee,Per Annum,25000.0
3,"Allen,Jeannetta Pam",1997,Clinton Administration,STAFF ASSISTANT,Female,Employee,Per Annum,22000.0
4,"Allison,Donna Tate",1997,Clinton Administration,WHITE HOUSE TELEPHONE OPERATOR,Female,Employee,Per Annum,27624.0
...,...,...,...,...,...,...,...,...
10592,"Young,Stewart B.",2020,Trump Administration,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTO...,Male,Employee,Per Annum,120000.0
10593,"Zadrozny,John A.",2020,Trump Administration,DEPUTY ASSISTANT TO THE PRESIDENT AND ADVISOR ...,Male,Employee,Per Annum,158000.0
10594,"Zakaria,Hannah",2020,Trump Administration,ASSOCIATE LOGISTICS AND OPERATIONS MANAGER,Female,Employee,Per Annum,53000.0
10595,"Ziegler,Garrett M.",2020,Trump Administration,SENIOR POLICY ANALYST,Male,Employee,Per Annum,53000.0
10596,"Zimmerman,Keith E.",2020,Trump Administration,ASSOCIATE DIRECTOR,Male,Employee,Per Annum,58200.0

# Analysis

# Staff who worked through all administrations

In [30]:
data.name.unique()

array(['Abedin,Huma M.', 'Abrams,Lori E.', 'Alcorn,Brian A.', ...,
       'Williams,James H.', 'Williamson,Benjamin D.',
       'Yanick,Brittany M.'], dtype=object)

In [31]:
len(data[data["name"]=="Zakaria,Hannah"]["served_under"].unique())

1

In [ ]:
served_all4admin = []
for x in data.name.unique():
    president = len(data[data["name"]==x]["served_under"].unique())
    if president ==4:
        served_all4admin.append(x)
        
        
print(served_all4admin)
len(served_all4admin)

In [ ]:
served_all4admin = pd.DataFrame(served_all4admin)
served_all4admin.head(1)

In [ ]:
served_all4admin = served_all4admin.rename(columns={0:"name"})
served_all4admin

In [ ]:
served_all4admin = pd.merge(served_all4admin, data,how="inner",on = "name" )

In [ ]:
served_all4admin

In [ ]:
served_all4admin["name"].unique()

In [ ]:
served_all4admin_2017 = served_all4admin[served_all4admin["year"]==2017]
served_all4admin_2017

In [ ]:
served_all4admin_2000 =served_all4admin[served_all4admin["year"]==2000]
served_all4admin_2000

In [ ]:
served_all4admin_2000[["year", "position_title", "salary"]]

In [ ]:
served_all4admin_2017[["name", "year", "position_title", "gender", "salary"]]

# staff with the highest Salary is Male

In [ ]:
data['salary'].max()

In [ ]:
data[data['salary']== data['salary'].max()]

# 95Th Percentile(TOp  Whitehouse Staff Salaries)

In [ ]:
percentile_95th =data[data["salary"] >np.percentile(data['salary'],95)]
percentile_95th
percentile_95th["gender"].value_counts()

# 10Th Percentile(Lowest  Whitehouse Staff Salaries)

In [ ]:
Percentile_10Th = data[data["salary"] <np.percentile(data['salary'],10)]
display(Percentile_10Th)
Percentile_10Th["gender"].value_counts()

In [ ]:
sns.barplot(x = 'gender', y="salary", data=percentile_95th)
plt.show()

In [ ]:
np.percentile(data['salary'],75)

# Compare Salaries by gender

### Females number more than Males yet they earn lesser total salary as a category

In [ ]:
display(data['gender'].value_counts())
salayr_by_gender = display(data.groupby(['gender'])['salary'].agg(sum))

In [ ]:
salayr_by_gender = display(data.groupby(['gender'])['salary'].agg(np.mean))
salayr_by_gender

In [ ]:
sns.barplot(x = 'gender', y="salary", data=data)
plt.show()

In [ ]:
sns.boxplot(x = 'gender',y='salary', data=data)
plt.show()

## Distribution of Data

In [ ]:
sns.distplot(data['salary'], bins=20)
plt.show()

In [ ]:
sns.boxplot(x=data['salary'])
plt.show()

# Average salary in the Trump Administration by gender

In [ ]:
trump_data = data.loc[data['served_under'] == 'Trump Administration']

In [ ]:
TrumpAdmin_salayry_by_gender =display(trump_data.groupby(['gender'])['salary'].agg(np.mean))

In [ ]:
sns.barplot(x = 'gender', y="salary", data=trump_data)
plt.show()

# Average salary in the Obama Administration by gender

In [ ]:
obama_data = data.loc[data['served_under'] == 'Obama Administration']

In [ ]:
ObamaAdmin_salayry_by_gender =display(obama_data.groupby(['gender'])['salary'].agg(np.mean))

In [ ]:
sns.barplot(x = 'gender', y="salary", data=obama_data)
plt.show()

#  average salary in the Clinton Administration by gender

In [ ]:
clinton_data = data.loc[data['served_under'] == 'Clinton Administration']

In [ ]:
ClintonAdmin_salayry_by_gender = display(clinton_data.groupby(['gender'])['salary'].agg(np.mean))

In [ ]:
sns.barplot(x = 'gender', y="salary", data=clinton_data)
plt.show()

#  Average salary in the Bush Administration by gender

In [ ]:
bush_data = data[(data['served_under']=="Bush administration")]

In [ ]:
BushAdmin_salayry_by_gender = bush_data.groupby(['gender'])['salary'].agg(np.mean)
BushAdmin_salayry_by_gender

In [ ]:
sns.barplot(x = 'gender', y="salary", data=bush_data)
plt.show()

# Hypothesis Testing:  gender gap in annual salaries

In [ ]:
#Ho: μ1 - μ2 = 0 (There is no difference between the mean annualsalaries of Males and Females in the Whitehouse)
#H1: μ1 - μ2 != 0 (There`s difference in the mean annual salaries of females and Males in the Whitehouse)

##### sample sizes of two different samples : Female and Male

In [ ]:
data["gender"].value_counts()

##### degrees of freedom

In [ ]:
Female_sample_size = 5595
Male_sample_size = 5002
degrees_freedom = (Female_sample_size + Male_sample_size) -2
degrees_freedom

##### get mean salary for females

In [ ]:
data_female = data[data["gender"]=="Female"]

In [ ]:
mean_female_salary = data_female["salary"].mean()
mean_female_salary

In [ ]:
#variance female
var_female_salary = data_female["salary"].var()
var_female_salary

##### get mean salary for males

In [ ]:
data_male = data[data["gender"]=="Male"]

In [ ]:
mean_male_salary = data_male["salary"].mean()
mean_male_salary

In [ ]:
# Variance in salary of male
var_male_salary = data_male["salary"].var()
var_male_salary

##### Pooled standard Error

In [ ]:
pooled_sample_standard_error  = np.sqrt((var_male_salary/(Male_sample_size-1)) +(var_female_salary/(Female_sample_size-1)))
pooled_sample_standard_error

##### difference in means of the 2 samples(female and male)

In [ ]:
difference_in_means = mean_male_salary - mean_female_salary
difference_in_means

## Compute confidence interval

In [ ]:
import scipy.stats
confidence_level = 0.95

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             difference_in_means, 
                                             pooled_sample_standard_error)
confidence_interval

#### With 95% confidence interval, the difference in mean of annual salaries of Females and Males in the Whitehouse is between USD 12,758-USD15,800

In [ ]:
import scipy.stats as stats
stats.ttest_ind(data_male["salary"], data_female["salary"], equal_var=True)

### since the p-value (8.39451834941693e-76) < alpha = 0.05 so we reject the null hypothesis of the test.
### We can confidently say there was difference in the mean annaul salaries of Females and males in the Whitehouse from 1997-2020.

In [ ]:
# Save your work as a csv file.(export as csv)
data.to_csv(' whitehouse_staff.csv', index=False)

In [ ]:
percentile_95th.to_csv('95th_percentile.csv', index=False)

In [ ]:
Percentile_10Th.to_csv('10th_percentile.csv', index=False)